header {
    max-height: 13vh;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.14);
    display: flex;
}
#nav {
    display: flex;
    gap: 1em;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    height : 13vh;
    padding: 0px;
    margin: 0cm 1cm 0cm 0cm;
}

#book {
    border: solid black 2px; 
    padding: 40px; 
    margin-top: 60px;
    border-radius: 25px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);

}

/* #container {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
} */

/* #pop-up{
    width: 400px;
    background: blue;
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;

} */




#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    
}

#login div {
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.14);
}

#name{
    padding: 10px;
    color :blue;
}

#right {
    padding: 40px 0px 40px 0px;
    margin-top: 60px;
}

#brand {
    padding-top: 10px;
}

#left {
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
}
