header {
    max-height: 13vh;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.14);
    display: flex;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: right;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    height : 13vh;
    padding: 0px;
    margin: 0cm 1cm 0cm 0cm;
    font-family: 'Roboto Slab', serif;
}

main {
    font-family: 'Oxygen', sans-serif;
    
}

#book,#book_form {
    border: solid black 2px; 
    padding: 40px; 
    margin-top: 60px;
    border-radius: 25px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

#availability {
    visibility: hidden;
}

#login_img {
    display: inline;
    margin-top: -50%;
    width: 60px;
    height: 60px;
    background-color: white;
}


#updatepass {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    text-align: center;
    margin-top: 2px;
    
}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    text-align: center;
    margin-top: 2px;
    
}

#updatepass div {
    padding: 10px 40px 30px 40px;
    border: 1px solid black;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.14);
    margin-top: 2px;
}
 
#brand_name{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
} 

#right {
    padding: 40px 0px 40px 0px;
    margin-top: 60px;
    background-image: url("appointment.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}

#brand {
    padding-top: 10px;
}

#left {
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
}

#changepass {
    border-radius: 5px;
    background-color: rgba(223, 112, 75, 0.727);
    
}

#changepass:hover {
    background-color: rgba(4, 114, 4, 0.877);
}