{% extends "layout.html"%}
{% block main %}
<style>
      td {
        padding : 5px;
    }
</style>
<div class = "row">
    <section class = "container col d-flex justify-content-center">
        <div class="d-flex ">
            <form name="available" action = "/admin" method = "post" style = "border: solid black 2px; padding: 0px; margin-top: 60px; width : 450px; height : auto;">
                <table  class="table table-striped" >
                    <thead>
                        <tr>
                            <th>DATES</th>
                            <th style = "text-align: right;">AVAILABILTY</th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for day in days %}
                            <tr>
                                <td>{{days[day]}}</td>
                            
                                <td style = "text-align: right; ">
                                    <label><input type = "checkbox" name = {{day}} value = {{days[day]}} {% if days[day] in avail %} checked disabled{% endif %}> available</label>     
                                </td>
                            </tr>
                            
                        {% endfor %}
                    </tbody>
                </table>
                <div class = "d-flex justify-content-center">
                    <button type = "submit" class="btn btn-outline-success">Confirm</button>
                </div>
                <br>
            </form>
        </div>
    </section>
    <section  class="col d-flex" >
        <div class = "col d-flex align-items-center justify-content-center">           
            <table class = "table table-striped" style = "border: solid black 2px; padding: 0px; margin-top: 60px; width : 450px; height : auto;" >
                <form action = "/book" method="post">
                    <thead>
                        <tr>
                            <th style = "text-align: center;">Chosen Dates</th>
                            <th style = "text-align: center;">available appointments</th>
                        </tr>
                        <tbody>
                            {% for day in avail_days %}
                                <tr>
                                    <td style = "text-align: center;">{{day[0]}}</td>
                                    <td style = "text-align: center;">{{day[1]}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </thead>
                </form>
            </table>
        </div>
    </section>
</div>
{% endblock %}