{% extends "layout.html" %}
{% block main %}
    <div class = "form-box">
        <form id = "login" action = "/login" method="post">
            <div>
                <br>
                <img src = "static/images/login.png" id = "login_img">
                {% if x %}
                    <br>
                    {{x}}
                    <br>
                {% endif %}
                <br>
               
                <label for = "username">Username</label>
                <input type = "text" class = "form-control" name = "username" required>
                <br>
                <label for = "password">Password</label>
                <input type = "password" class = "form-control" name = "password">
                <br>
                <button type = "submit" class = "form-control" required>Login</button
                <br>
                <a href = "/changepass">forgot password</a>
            </div>
            
        </form>
    </div>
{% endblock %}